.clear {
  clear: both
}

.show {
  display: block
}

.green {
  color: #582
}

.blue {
  color: #47a
}

.red {
  color: #f16567
}

.orange {
  color: #E82
}

.grey {
  color: #888
}

.cyan {
  color: #00a0a0
}

.yellow {
  color: #c0a000
}

.pink {
  color: #ff00ff
}

.normal {
  color: #c0c0c0
}

.superior {
  color: #5454fc
}

.epic {
  color: #fcfc54
}

.mysterious {
  color: #fca800
}

.wonderous {
  color: #54fc54
}

.npc {
  color: #4fe44f
}

.mob {
  color: #a70000
}
